
<div class="nav">

</div>

<div id="content">

<div id="page-title"> <h1>View All Restaurants</h1> </div>

<% @restaurants.each do |restaurant| %>

  <div class="restaurant-list">
    <a href="restaurants/<%=restaurant.id%>"><h2><%= "#{restaurant.name}" %></h2></a>
    <p>Address: </br> <%= "#{restaurant.address}" %> </p>
    <p>Phone Number: </br> <%= "#{restaurant.phone_number}" %></p> </br>
  </div>
  <% end %>
  </div>
</div>
