<h1>Restaurants#index</h1>
<p>Find me in app/views/restaurants/index.html.erb</p>

<div>
<% @restaurants.each do |restaurant| %>
  <div>
    <a href="restaurants/<%=restaurant.id%>"></h2><%= "#{restaurant.name}" %></h2></a>
    <p>Address</p>
    <p><%= "#{restaurant.address}" %></p>
    <p><%= "#{restaurant.phone_number}" %></p>
  </div>
<% end %>
</div>
