
<nav>
  <ul>
    <li><p><a href="restaurants/index">Home</p></a></li>
    <li><p><a href="restaurants/index">My profile</p></a></li>
  </ul>
</nav>

<div id="content">

<div id="page-title"> <h1>SeatYourself</h1>
<h2>All Restaurants:</h2>
</div>

<div class="restaurant-list">
  <table align="center">
    <colgroup>
      <col style="width: 66%">
      <col span="2" style="width: 33%">
    </colgroup>
  <tr>
    <th>Restaurant:</th>
    <th>Address:</th>
    <th>Phone Number:</th>
  </tr>

  <% @restaurants.each do |restaurant| %>

    <tr>
      <td id="rest-name"><a href="restaurants/<%=restaurant.id%>"><h2><%= "#{restaurant.name}" %></h2></a></td>
      <td id="rest-address"><p><%= "#{restaurant.address}" %> </p></td>
      <td id="rest-phone-number"><p> <%= "#{restaurant.phone_number}" %></p></td>
   </tr>

     <% end %>
     </br>
  </table>
</div>
