<h1>Restaurants#show</h1>
<p>Find me in app/views/restaurants/show.html.erb</p>

<p><%= link_to "Back", restaurants_url %>
<div>
  </h2><%= "#{@restaurant.name}" %></h2>
  <p>Contact Information</p>
  <p><%= "#{@restaurant.address}" %></p>
  <p><%= "#{@restaurant.phone_number}" %></p>
</div>
