$noto-sans: 'Noto Sans', sans-serif;

.reservations-page {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;

    h1 {
      font-family: $noto-sans;
      text-align: center;
    }
    .field, .actions {
      text-align: center;
      padding-bottom: 25px;
    }
}

#rest-name {
  color: tomato;
  text-decoration: underline;
}
