@import "restaurant-page.scss";
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

$playfair: 'Playfair Display', serif;

// Here's a few wallpaper options:

$background1: image-url('dark-geometric-1920x1080.png');
$background2: image-url('black-thread-1920x1080.png');
$background3: image-url('norwegian-rose-blue.png');
$background4: image-url('norwegian-rose-bluegreen.png');

body {
  background-image: $background4;
  width: auto;
}

nav {
  font-family: $playfair;
  font-size: 1.4em;
  position: absolute;
  right: 0px;
  display: inline;
  width: auto;
  padding-top: 1em;
  padding-right: 30px;
  text-align: right;

  li {
    list-style:none;
    color: black;
    a:link {
      color: white;
      text-decoration-style: dashed;;
    }
    a:visited {
      color: black;
    }
    a:hover {
      color: red;
    }
  }
}

#title {
  width: 100%;
  color: #F6B68A;
  text-align: center;
  text-decoration: underline;
  text-shadow: 2px 2px #30594D;
  font-family: $playfair;
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 75px;
  h1 i:first-child {
    color: #83B644;
  }
}

#content {
  box-sizing: border-box;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  font-family: $playfair;
  border: 1px dotted;

  #rest-name {
    font-size: 30px;
    color: #F9FCD3;
    text-align: center;
    text-decoration: none;
    a:hover {
      color: yellow;
    }
  }

  #rest-contact {
    font-size: 30px;
    color: #E8BD67;
    text-align: center;
  }
  table {
    table-layout: fixed;
    width: 100%;
  }
  td {
    text-align: left;
    // text-decoration: underline;
    font-size: 30px;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 40px;
    border-bottom: 1px dotted;
    a:hover {
      color: yellow;
    }
  }
}
