@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Lustria);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

// Font choices:

$playfair: 'Playfair Display', serif;
$lustria: 'Lustria', serif;
$noto-sans: 'Noto Sans', sans-serif;

// Here's a few wallpaper options:

$background1: image-url('dark-geometric-1920x1080.png');
$background2: image-url('black-thread-1920x1080.png');
$background3: image-url('norwegian-rose-blue.png');
$background4: image-url('norwegian-rose-bluegreen.png');

//

// #body {
//   width: 70%;
//   margin: auto;
// }

// body {
//   height: auto;
//   width: auto;
//   margin: 0;
//   background-image: $background4;
//   background-color: @body-bg;
//
//     #title {
//       display: inline;
//       float: left;
//       width: 60%;
//       margin: auto;
//       color: #F6B68A;
//       text-align: center;
//       text-decoration: underline;
//       text-shadow: 2px 2px #30594D;
//       font-family: $noto-sans;
//       font-size: 50px;
//       font-weight: bold;
//       padding-bottom: 50px;
//       h1 i:first-child { color: #83B644 }
//     }
//
//     #nav-links {
//       padding-top: 1.7%;
//       box-sizing: border-box;
//       display: inline;
//       float: right;
//       width: 40%;
//
//       ul {
//         float: right;
//         right: 1%;
//         line-height: 1.5em;
//       }
//       li {
//         list-style:none;
//         padding-right: 50px;
//         color: black;
//         a:link { color: white; text-decoration-style: dashed }
//         a:visited { color: black }
//         a:hover { color: red }
//       }
//     }
// }
//
//
// .content {
//   box-sizing: border-box;
//   width: 90%;
//   height: 80%;
//   margin-top: 100px;
//   margin-left: auto;
//   margin-right: auto;
//   text-align: center;
//   border: 1px dotted;
//
//   table {
//     table-layout: fixed;
//     width: 100%;
//
//     td {
//       text-align: left;
//       font-family: $noto-sans;
//       font-size: 30px;
//       padding-bottom: 40px;
//       padding-top: 40px;
//       padding-left: 40px;
//       border-bottom: 1px dotted;
//       a:link { color: white; text-decoration-style: dashed }
//       a:visited { color: black }
//       a:hover { color: red }
//       // a:hover {
//       //   color: yellow;
//       // }
//     }
//   }
// }
// #rest-name {
//   font-size: 30px;
//   padding-left: 5%;
//   // font-family: $noto-sans;
//   // color: #F9FCD3;
//   // text-align: center;
//   // a:link { color: white; text-decoration-style: dashed }
//   // a:visited { color: black }
//   // a:hover { color: red }
// }
//
// #rest-contact {
//   font-size: 25px;
//   font-family: $noto-sans;
//   color: #E8BD67;
//   text-align: center;
// }
//
// // Everything below here is for the individual restaurants pages
//
// .restaurant-show {
//
//   .back-link {
//     font-family: $noto-sans;
//     font-size: 1.5em;
//     position: absolute;
//     top: .2%;
//     left: 5%;
//     a:link {
//       color: white;
//       text-decoration-style: dashed;
//     }
//     a:visited {
//       color: black;
//     }
//     a:hover {
//       color: red;
//     }
//   }
//   #body {
//     box-sizing: border-box;
//     margin-left: 30px;
//     text-align: center;
//
    // h1 {
    //   font-family: $noto-sans;
    //   font-size: 65px;
    //   text-decoration: underline;
    //   color: #D4D6C2;
    //   margin-top: 5%;
    // }
//
//     h2 {
//       font-family: $noto-sans;
//       font-size: 2.5em;
//       padding-top: 25px;
//       padding-left: 30px;
//       font-style: italic;
//
//       a:link {
//         color: tomato;
//         text-decoration-style: dashed;
//       }
//       a:visited {
//         color: tomato;
//       }
//       a:hover {
//         color: red;
//     }
//   }
//   }
//
//   #rest-pic {
//     padding-top: 70px;
//     padding-bottom: 78px;
//   }
//
//   #contact-info {
//     font-size: 1.4em;
//     font-family: $noto-sans;
//     font-weight: bold;
//     text-decoration: underline;
//   }
//   #reviews {
//     width: 80%;
//     margin: auto;
//     h2 {
//       font-family: $noto-sans;
//       font-weight: bold;
//       text-decoration: underline;
//     }
//     p {
//         font-family: $noto-sans;
//     }
//   }
// }
