$playfair: 'Playfair Display', serif;

#back {
  font-family: $playfair;
  font-size: 1.5em;
  padding-left: 30px;
  position: absolute;
  top: 5%;
  left: 3%;
    a:link {
      color: white;
      text-decoration-style: dashed;
    }
    a:visited {
      color: black;
    }
    a:hover {
      color: red;
  }
}

#body {
  box-sizing: border-box;
  margin-left: 30px;
  text-align: center;
}

h1 {
  font-family: $playfair;
  font-size: 65px;
  color: #D4D6C2;
}

h2 {
  font-family: $playfair;
  font-size: 35px;
  a:link {
    color: #E58E44;
  }
  a:visited {
    color: #E58E44;
  }
  a:hover {
    color: red;
  }
}

p {
  font-family: $playfair;
  font-size: 1.6em;
}

#rest-pic {
  padding-top: 70px;
  padding-bottom: 70px;
}

#contact-info {
  font-weight: bold;
  text-decoration: underline;
}

.reviews {
  box-sizing: border-box;
  margin-left: 3%;
  margin-top: 6%;
}
