
$font_family: 'Playfair Display', serif;

body {
  background-image: image-url('bright-squares-1920x10801copy.png');
  width: 100%;
}

#page-title h1 {
  font-family: $font-family;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px #30594D;
  text-align: center;
  padding-bottom: 1.5em
}

.restaurant-list {

  font-family: $font-family;
  h2 {
    font-size: 30px;
    color: #F9FCD3;
  }
  p {
    font-size: 20px;
    color: #D4D6C2;
  }
}
